!!! Strict
%html
  %head
    %link{ :href => '/rattan.css', :type => 'text/css', :rel => 'stylesheet'}/
    %link{ :href => '/application.css', :type => 'text/css', :rel => 'stylesheet'}/
    %title= (@title || 'No title') + ' - VertexDB'
    
  %body
    %a.github_fork{ :href => 'http://github.com/stevedekorte/vertexdb' }
    #wrap
      #logo
        %h1= link_to 'VertexDB', '/'
        %h2 super fast graph database
        
        %ul.menu
          %li= link_to 'Home', '/'
          %li= link_to 'Installation', '/install'
          %li= link_to 'GitHub repo', 'http://github.com/stevedekorte/vertexdb'

      #content
        #primary
          = yield
        
        #secondary 
          %ul
            %li= link_to 'Quick start', '/quick_start'
            %li= link_to 'Guides', '/guides'
            %li
              = link_to 'API Reference', '/doc'
              - if @api
                %ul
                  - @api['actions'].each do |met_name, met|
                    %li= link_to met_name, "/doc##{met_name}"
            %li= link_to "Maintain database", "/maintain"
            
          
          #tags
        
      #footer
        = link_to "This site repo", 'http://github.com/Paxa/vertexdb_site'
        2010
